# Build results
bin/
obj/
out/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Visual Studio Code settings
.vscode/
.history/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec

# DotCover
.idea/
*.dotCover

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.dbmdl
*.jfm

plan.txt
appsettings.json